.DS_Store
.dart_tool/
.packages
.pub-cache/
build/
ios/Flutter/.last_build_id
**/Generated.xcconfig
**/Flutter.podspec
**/xcuserdata/
**/Pods/
**/.symlinks/
**/profile/**
**/xcshareddata/WorkspaceSettings.xcsettings
android/.gradle/
android/app/release/
*.iml
.idea/
local.properties
coverage/
*.lock
**/google-services.json
**/GoogleService-Info.plist
**/keystore/**
